/* main */
.main {
  display: flex;
  padding: 1em;
}
/* Store list */
.store-list-wr {
  width: 8em;
}
.btn-store-list:hover {
  cursor: pointer;
}
.show {
  display: none;
}
.save-list {
  display: flex;
  flex-flow: column;
  margin: 0.5em 0;
  font-size: 11px;
}
.save-on-off-label {
  display: flex;
  justify-content: space-between;
  width: 6em;
}
.save-switch {
  margin: 0.2em;
  position: relative;
  display: inline-block;
  width: 6em;
  height: 1em;
}
.save-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.save-slider {
  position: absolute;
  cursor: pointer;
  border-radius: 25px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.save-slider:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 0.8em;
  width: 0.8em;
  left: 1px;
  bottom: 1.5px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.save-switch input:checked + .save-slider {
  background-color: green;
}
.save-switch input:focus + .save-slider {
  box-shadow: 0 0 1px green;
}
.save-switch input:checked + .save-slider:before {
  -webkit-transform: translateX(5em);
  -ms-transform: translateX(5em);
  transform: translateX(5em);
}
/* Todo  */
.todo-wr {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}
label {
  display: none;
}
.btn-submit-button {
  background: grey;
  color: whitesmoke;
  border: 2px solid grey;
}
.btn-submit:hover {
  cursor: pointer;
  background: lightgrey;
  border: 2px solid lightgrey;
  color: darkblue;
}
.todo-ul {
  padding: 0;
}
.todo-ul:empty {
  display: none;
}
.todo-li {
  width: 210px;
  display: flex;
  justify-content: space-between;
  padding: 0.4em;
  border-bottom: 1px solid lightgrey;
}
.done span {
  text-decoration: line-through;
}
/* Empty state list */
.empty-state-wr {
  display: none;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.todo-ul:empty + .empty-state-wr {
  display: flex;
}
